extends ../../layout
block head
  title #{database} > #{tableName} > #{id}
block body
  block header
    header.hd
      h1 
        a(href="/")= title
        |  > 
        a(href="/" + directory) Database: #{database}
        |  > 
        a(href="/" + directory + "/" + tableName) Table: #{tableName}
        |  > 
        a(href="/" + directory + "/" + tableName + "/" + id) Entry: #{id}
  block main
    main
      include entry/editor
      .row
        .col.w-2.p-5
          a(href="/" + directory + "/students") Click here to go back.