extends ../../layout
block head
  title #{database} > #{tableName}
block body
  block header
    header.hd
      h1 
        a(href="/")= title
        |  > 
        a(href="/" + directory) Database: #{database}
        |  > 
        a(href=tableName) Table: #{tableName}
  block main
    main
      .row
        .col.w-2.p-5
          h2 Add entry
          include table/addEntry
          script document.getElementById("addEntry").firstChild.focus();
        .col.w-2.p-5
          .row
            .col.wp-1
              h2 Table 
            .col.wp-2.p-2
              form(action="/" + directory + "/" + tableName + "/fullscreen"
                , method = "get"
                ,  style = "display: inline"
              )
                button.p-1(type="submit") Fullscreen
          include table/showTable