extends ../../../layout
block head
  title #{database} > #{tableName}
  style.
    main > p {
      padding: 5vmin;
    }
    
    table {
      margin: auto;
    }

    table form {
      text-align: center;
    }
block body
  block header
    header.hd
      h1 
        a(href="/") #{title} 
        | > 
        a(href="/database") Database: #{database} 
        | > 
        a(href="/database/" + tableName) Table: #{tableName}
  block main
    main
      include showtable