extends ../layout
block body
  header.hd
    h1
      a(href="/") #{title}
    nav.nav
      a(href="./database") Database
      a(href=github) GitHub
      a(href=trello) Trello
  div.row
  - var colClasses = ["col", "w-1", "p-5"]
    div(class=colClasses)
      p Welcome to the home page of #{author}'s #{title}, 
        | a project started on #{startDate}.