doctype html
html(lang="en")
  head
    style
      include ./css/layout/swt2.css
      include ./css/layout/swt2.basic.css
      include ./css/themes/swt2.dark.css
      include ./css/main.css
    block styles
    block head
      title #{title} | #{author}
    script
      include layout.js
    block headScripts
  body
    block body
      block header
      block main
      block footer
    block bodyScripts