block styles
  style.
    tr:first-child {
      color: gold;
    }

    tr:first-child > td {
      background-color: rgb(43, 43, 43);
    }
form(action="/UpdateEntry/" + tableName + "/" + id, method="post")
  table#editor
script
  include editor.js
script addColumns(#{result})