block styles
  style.
    li > .col {
      line-height: 8vmin;
    }

    li {
      padding: 0 2vmin;
    }

    #tables {
      max-height: 65vh;
      overflow: auto;
    }
#tables
  if results.length > 0
    each entry in results
      - entry = entry.Tables_in_cisproj
      li.row.ignore-media
        .col.wp-1
          a(href="/" + directory + "/" + entry)= entry
        .col.wp-2.ignore-media
          form(action="/" + directory + "/" + entry + "/altertable", method="get")
            button.p-1.wp-2.ignore-media Alter
          form(
            action = "/droptable/" + entry
          , method = "post"
          , onsubmit = "return confirm(\"WARNING: Are you sure you want to drop this table?\")")
            button.p-1.wp-2.ignore-media.danger Drop
  else
    p There are currently no tables.