input,
button,
select {
  border: none;
}

form {
  line-height: 8vmin;
}

button {
  min-width: 7vmin;
}

button::-moz-focus-inner {
  border: none;
}

button:hover {
  cursor: pointer;
}

nav a {
  font-size: 18px;
}